div {
    border-width: 2px;
    border-color:red;
    border-style: solid;
}

.textlink {
    font-family:Arial, Helvetica, sans-serif;
    margin:20px;
    text-decoration: none;

}
#back {
    width:100%;
    display:inline-flex;
    flex-direction: row;
}
#spacer{
    height: 40px;
    display:inline;
    width: 100%;
}

#container {
  width:100%;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center; 
}

#left {
    display:inline;
}

#right {
    display:inline;
}

#signin {
    display:flex;
    float:right;
    
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#search2 {
    width: 40%;
    height: 40px;
    border-color:rgb(255, 255, 255);
    box-shadow: 0px 1px 6px rgba(75, 75, 75, 0.63);
    border-radius: 25px;

}

#buttons {
    display:flex;
    justify-content:center;
    padding-top:40px;
}

.click1 {
    background:rgb(62, 112, 221);
    box-shadow:none;
    border-color:rgba(62, 112, 221,.4);
    border-style:none;
    height: 40px;
    width: 100px;
    color:white;
    font-size:14px;
    border-radius: 7px;
    margin-top: 7px;
    cursor:pointer;
}

.click1:hover {
    box-shadow: 1px 2px 4px rgba(99, 99, 253, 0.4);
}
.click2 {
    height:40px;
    margin-left: 20px;
    margin-right: 20px;
    border:none;
    background: whitesmoke;
}